section{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100vw;
    height: 100vh;
}
.next{
    position: fixed;
    right: 15px ;
    bottom: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 100%;
}
.next img{
    width: 50%;
    height: 50%;
}
.step-1{
    background-color: chocolate;
}
.step-2{
    background-color: cyan;
}
.step-3{
    background-color: crimson;
}
.step-4{
    background-color: gold;
}
.step-5{
    background-color: lime;
}