section{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 100%;
    height: 100vh;

}
section::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0.4;
}
.play{
    position: fixed;
    right: 15px ;
    bottom: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 100%;
    z-index: 99;
    cursor: pointer;
}
.step-1{
    opacity: 0;
}
.step-1 h2{
    text-align: center;
    font-family: 'Nabla', system-ui;
    font-size: 45px;
}
.step-1 p{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-size: 15px;
}
.step-1 img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
}
.step-1::before{    
    background-image: url(../images/articice.png);
}
.step-2 h2{
    text-align: center;
    font-family: 'Nabla', system-ui;
    font-size: 45px;
}
.step-2 p{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-size: 15px;
    
}
.step-2 img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
}
.step-2::before{
    background-image: url(../images/canada.png);    
}
.step-3::before{
    background-image: url(../images/sapin.jpg);
}
.step-3 h2{
    text-align: center;
    font-family: 'Nabla', system-ui;
    font-size: 45px;
}
.step-3 p{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-size: 15px;
    
}
.step-3 img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
}
.step-4::before{
    background-image: url(../images/sapin.jpg);
   }
   .step-4 h2{
    text-align: center;
    font-family: 'Nabla', system-ui;
    font-size: 45px;
}
.step-4 p{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-size: 15px;
    
}
.step-4 img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
}
.step-5::before{
    background-image:url(../images/abruzzes.jpg) ;
}
.step-5 h2{
    text-align: center;
    font-family: 'Nabla', system-ui;
    font-size: 45px;
}
.step-5 p{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-size: 15px;
    
}
.step-5 img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.step__inner{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.step-2, .step-3, .step-4, .step-5{
    display: none;
}



